/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';

* {
	text-decoration: none;
	list-style: none;
}
body {
	padding-top: 70px;
}
@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}
	.navbar .navbar-collapse {
		text-align: center;
	}
}
.navbar-fixed-top {
	background-color: #ffffff;
	height: 90px;
	border: none;
}
.navbar-brand {
	//display: inline-block;
}
.navbar-brand img {
	height: 40px;
	width: 30px;
}
.landing-image {
	background-image: url('../images/landingimage.jpg');
	width: 100%;
	color: #fafafa;
	background-size: cover;
	padding-top: 90px;
	text-align: center;
	height: 80vh;
	h2 {
		letter-spacing: 2px;
		padding-top: 35px;
		//align-items: center;
		margin-top: 0;
	}
	p {
		margin-top: 10px;
		font-size: 14px;
	}
	a {
		color: #fafafa;
		//padding: 10px;
		cursor: pointer;
		font-size: 10px;
		margin-top: 60px;
		text-decoration: none;
	}
}
.main-nav ul {
	background-color: #11191d;
	display: flex;
	justify-content: space-around;
	a {
		color: #dddfda;
		text-decoration: none;
	}
		
}










